hr, h1, nav, article, .toolsWeb, .block_contact_size {
	max-width: 1280px;
}

body, header, hr, nav, article, .toolsWeb, .presentation, .block_contact_size{
	margin: 0 auto;
	text-align: center;
}

header, .toolsWeb, .presentation {
	height: 720px;
}

.toolsWeb {
	bottom: 150px;
	position: relative;
	top: 150px;
}

.picline {
	display: inline-block;
}

.picline img{
	max-width: 24.2%;
	height: 360px;
	margin: 0 auto;
	padding: 0;
}

hr {
	-moz-border: none;
	-o-border: none;
	-webkit-border: none;
	background-color: #5A5D73;
	color: #5A5D73;
	height: 2px;
}

h1 {
	color: #efefef;
	font-family: Roboto, serif;
	margin: 110px auto 20px auto;
	text-transform: uppercase;
	font-size: 4em;
}

h4 {
	text-transform: uppercase;
	margin: 10px auto;
}

header {
	background: url(/home/whoiam/Documents/homeworks2/control_version/img/mdems.png);
	background-color: #2c2f49;
}

#description_header {
	color: #E2E1D3;
	font-family:  Roboto, serif;
	font-size: 1.7em;
	letter-spacing: 3px;
}

a {
	color: #EAE9E3;
	cursor: pointer;
	font-size: 0.9em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.navi1 {
	display: inline-block;
	height: 54px;
	line-height: 54px;
	position: relative;
	right: 225px;
	top: 5px;
}

#active {
	color: #5A5D73;
	font-family: 'Arial Black', serif;
	font-size: 2.4em;
	font-weight: bold;
}

.navi2 {
	font-family: Roboto, serif;
	bottom: 5px;
	display: inline-block;
	height: 54px;
	left: 225px;
	line-height: 54px;
	position: relative;
}

a:hover {
	color: #E64141;
}

span {
	color: #EAE9E3;
	font-family: Arial, serif;
}

#search_more {
	background-color: #CF2E2E;
	border: none;
	bottom: 70px;
	color: #EAE9E3;
	cursor: pointer;
	font-size: 1.1em;
	height: 90px;
	margin: 120px 0;
	position: relative;
	text-transform: uppercase;
	width: 250px;
}

#search_more:hover {
	background-color: #323147;
}

.block {
	display: inline-block;
	max-width: 32.8%;
	height: 490px;
}

.block article{
	margin: 40px;
}

.block_contact {
	background-color: #2c2f49;
	color: #EAE9E3;
	height: 210px;
	font-size: 0.8em;
}

.block_contact_size section{
	display: inline-block;
	max-width: 33.1%;
}

.block_contact_size img{
	height: 40px;
}

.block_contact_size img:hover {
	background-color: #2CA3F2;
}

.block_contact_size h4, .block_contact_size article {
	display: block;
	max-width: 210px;
	margin: 30px;
}